/* * {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}*/

* { 
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: 'baloo_bhaijaan_2';
  font-style: normal;
  font-weight: normal;
  src: url('../baloo_bhaijaan_2/baloobhaijaan2-variablefont_wght.ttf') format('truetype');
}

header { 
    background-color: #ffffff;
}

header .navigation .ul { 
  padding: 0;
}

.logo {
  float: left;
  margin-left: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.navigation {
     background-color: #ffffff;
     display: flex;
     font-family: 'baloo_bhaijaan_2';
     font-size: 1.25rem;
     height: auto;
     justify-content: center;
     left: 0;
     position: fixed;
     top: 1rem;
     width: 100%;
   }

.navigation .menu li {
  display: inline-block;
  font-size: 1.25rem;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  transition: color .2s ease;
}

ul.menu {
  font-size: .75rem;
  padding: .5rem;
}

.navigation .menu li a {
  color: rgb(160, 185, 255);
  padding: .5rem;
  text-decoration: none;
}

.navigation .menu li a:active {
  color: rgb(29, 47, 97);
}

.navigation .max-width {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.max-width {
  margin: auto;
  max-width: fit-content;
  padding: 0 1rem;
}

body {
  font-family: 'baloo_bhaijaan_2';
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 8rem 2rem;
}

.hello {
  color: #d0826f;
  font-family: 'baloo_bhaijaan_2';
  font-size: 1rem, 0;
  margin-top: 0;
  padding: 0;
}

img {
  border-radius: .5rem;
}

img.project1 {
  margin: 1rem, .2rem, .2rem;
}



.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8 {
  display: block;
  height: auto;
  margin-top: 2rem;
  margin: .5rem auto;
  max-width: 100%;
  width: 80%;
}


.one, .two, .three, .four, .five, .six, .seven, .eight {
  margin: .5rem;
  padding: 0;
}

figcaption {
  color: #d0826f;
  padding: 1.5rem;
  text-align: center;
}

.about {
  color: #d0826f;
}

.resume {
  display: block;
  height: auto;
  margin-top: 6rem;
  margin: 1.5rem auto;
  max-width: 100%;
  width: 85%;
}

.resume-name { 
  color: #d0826f;
  text-align: center;
  font-size: 2rem;
}


.background, .going-deeper-part-1, .going-deeper-part-2 {
  line-height: 1.25rem;
  text-indent: 30px;
}



/* 
color: #d0826f 
color: rgb(160, 185, 255)
color: rgb(29, 47, 97)
color: #e6e6ed 
color: #fff
color: #000


mpeg 
H.264 

iPhone 8 viewport = 375 x 667 

*/ 