/* * {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}*/

@font-face {
  font-display: swap;
  font-family: 'baloo_bhaijaan_2';
  font-style: normal;
  font-weight: normal;
  src: url('../baloo_bhaijaan_2/baloobhaijaan2-variablefont_wght.ttf') format('truetype'); 
}

header { 
    background-color: #ffffff;
}

.logo {
  float: left;
  margin-left: 0;
  padding: .5rem;
  max-width: 667px;
  width: 20%;
}

.navigation {  
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-family: 'baloo_bhaijaan_2'; 
  font-size: 1.5rem;
  padding: .5rem;
}

.navigation .menu li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  transition: color .2s ease;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.navigation .menu li a {
  color: rgb(160, 185, 255);
  padding: 1rem;
  text-decoration: none; 
}

.navigation .menu li a:active {
  color: rgb(29, 47, 97);
}

.navigation .max-width {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.max-width {
  margin: auto;
  padding: 0 1rem; 
  max-width: fit-content; 
}

body {
  padding: 8rem 4rem;
  margin: 0;
  font-family: 'baloo_bhaijaan_2'; 
  font-size: 1rem;
  line-height: 1rem;
}

.hello {
  font-size: 2rem;
}

.resume {
  max-width: 100%; 
  width: 85%; 
  display: block; 
  height: auto; 
  margin: 1.5rem auto; 
  margin-top: 6rem; 
}

.resume-name { 
  text-align: center;
  font-size: 2rem;
}


.background, .going-deeper-part-1, .going-deeper-part-2 {
  text-indent: 30px;
  line-height: 1.25rem;
}



/* 
color: #d0826f 
color: rgb(160, 185, 255)
color: rgb(29, 47, 97)
color: #e6e6ed 
color: #fff
color: #000


Set the width to 100% 
Set the height to auto 

mpeg 
H.264 

375 x 667 

*/ 