* { 
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}



/* nav */

header { 
  background-color: #ffffff;
}

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 2rem;
}

.logo-link {
  margin: 0 2rem;
  text-decoration: none;
  color: #2f2f2f;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 2rem;
}

.menu li a {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 1.2rem;
}

/* 
.navigation .menu li a {
  color: rgb(160, 185, 255);
  padding: .5rem;
  text-decoration: none;
}

.navigation .menu li a:active {
  color: rgb(29, 47, 97);
}
*/



body {
  font-family: 'Inter';
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}


/* home intro */
.intro {
  max-width: 1100px;
  margin: auto;
  padding: 3rem 2rem 5rem; 
}

.intro-description {
  font-size: 2.5rem;
  line-height: 2rem;
  text-align: center;
  color: #DA8466;
  /* color: #7AA3C1; */
}

.intro-extra {
  font-size: 1em;
  text-align: center;
  color: #1f1f1f;
}

.intro-purpose {
  font-size: 1.2rem;
  text-align: center;
  color: #1f1f1f;
}


/* home projects */
.projects-display {
  margin: 0 5rem;
}

.project_title {
  color: #517D94
}

.project_image {
  border-radius: 1rem;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

img.project1 {
  margin: 1rem, .2rem, .2rem;
}


.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project11, .project12, .project13, .project14, .project15, .project16, .project17, .project18, .project19, .project20, .project21 {
  display: block;
  height: auto;
  margin-top: 2rem;
  margin: .5rem auto; 
  max-width: 100%;
  width: 80%;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen, .seventeen, .eighteen, .nineteen, .twenty, .twentyone {
  margin: .5rem;
  padding: 0;
}

figcaption {
  color: #d0826f;
  padding: 1.5rem;
  text-align: center;
}

.about {
  color: #d0826f;
}

.background, .going-deeper-part-1, .going-deeper-part-2 {
  line-height: 1.25rem;
  text-indent: 30px;
}


/*
Resume CSS Starts HERE 
*/




/* 
color: #d0826f 
color: rgb(160, 185, 255)
color: rgb(29, 47, 97)
color: rgb(43, 61, 112)
color: rgb(109, 144, 238)
color: #e6e6ed 
color: #fff
color: #000


mpeg 
H.264 

iPhone 8 viewport = 375 x 667 

*/ 